@media screen and (min-width: 0px) and (max-width: 800px) {
    .mobile-nav { display: block; }  /* show it on small screens */
    #HomePage_Main{
        margin-top: 50px;
    }
  }
  @media screen and (min-width: 801px) and (max-width: 4024px) {
    .mobile-nav { display: none; }   /* hide it elsewhere */
  }
@media screen and (max-width: 800px){
    #HomePage_Main{
        flex-direction: column-reverse;
    }
    #HomePage_pic{
        width: 250px;
        height: 240px;
    }
    .projects{
        width: 500px;
    }
    .project_img img{
        width: 250px;
    }
    .project_img img:hover{
        width: 270px ;
    }
    .project_name{
        font-size: 1.2rem;
    }
    .project_desc{
        font-size: 0.9rem;
    }
    #HomePage_Navbar{
        display: none;
    }
    .mobile-nav{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width: 500px){
    #HomePage_Main{
        flex-direction: column-reverse;
    }
    #HomePage_pic{
        width: 200px;
        height: 190px;
    }
    .projects{
        width: 400px;
        height: 80%;
    }
    .project_img img{
        width: 210px;
    }
    .project_img img:hover{
        width: 210px ;
    }
    .project_name{
        font-size: 1.2rem;
    }
    .project_desc{
        font-size: 0.75rem;
    }
    .project_btn a{
        text-decoration: none;
        color: var(--clr-background);
        background-color: var(--clr-text);
        padding: 5px 25px;
        border-radius: 10px;
        font-weight: 700;
        transition: all 0.3s;
    }
    .used_lang{
        gap: 5px;
    }
    .used_lang p{
        font-size: 1rem;
        width: 50px;
    }
    .langUsed img {
        width: 35px;
    }
    .langUsed{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 400px){
    #HomePage_Main{
        flex-direction: column-reverse;
    }
    #HomePage_info p{
        font-size: 0.9em;
        margin: 0 80px;
    }
    #HomePage_pic{
        width: 200px;
        height: 190px;
    }
    .projects{
        width: 300px;
        height: 60%;
    }
    .contanor{
        margin-top: -30px;
        margin-bottom: -70px;
    }
    .project_img img{
        width: 150px;
    }
    .project_img img:hover{
        width: 160px ;
    }
    .project_name{
        font-size: 0.9rem;
    }
    .project_desc{
        font-size: 0.5rem;
    }
    .project_btn a{
        padding: 7px 15px;
        font-size: 0.6rem;
    }
    .used_lang{
        gap: 5px;
    }
    .used_lang p{
        font-size: 0.7rem;
        width: 40px;
    }
    .langUsed img {
        width: 25px;
    }
    .langUsed{
        display: flex;
        align-items: center;
    }
    #proBtn{
        background-color: var(--clr-text);
        color: var(--clr-background);
        border: none;
        border-radius: 30px;
        font-size: 0.2em;
        font-weight: 700;
        padding: 5px 20px;
    }
}
