.mobile-nav{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    z-index: 100;
    background-color: var(--clr-nav);
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}
.mobile-nav h1{
    font-family: 'stanly';
    font-size: 2.8em;
    letter-spacing: 4px;
}
.mobile-nav button{
    width: 30px;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
.mobile-nav-item{
    background-color: var(--clr-nav);
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
    right: -100%;
    top: 60px;
    gap: 20px;
    width: 400px;
    height: 100vh;
    transition: right 0.4s;
}